<ion-header>
  <ion-toolbar>
    <ion-title>
      Tab One
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-card class="welcome-card">
      <img src="/assets/shapes.svg" alt="" />
      <ion-card-header>
        <ion-card-subtitle>Get Started</ion-card-subtitle>
        <ion-card-title>Exemplo JS </ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <p>Exemplo de criar e executar elementos HTML e JS remotamente</p>
      </ion-card-content>
    </ion-card>


    <div id="xpto"> </div>
 
</ion-content>

<script>
 
</script>
